.login-box, .register-box {
    margin: auto;
}

.card.latest-members {
    height: 100%!important;
}
.msg-error {
    color: red;
}
.card-body .tables-btn-actions {
    padding: 0px!important;
}
.pagination-container .text-muted {
    padding-right: 10px;
}


/* Vendor Chat */

#chat-window {
    display: flex;
    flex-direction: column;
    max-height: 400px;
}

#chat-messages {
    overflow-y: auto;
    word-break: break-word;
}